.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px;
}

.header_menu {
    justify-self: start;
}

.header_links-list {
    display: flex;
    gap: 32px;
    list-style: circle;
}

.header_list-link {
    font-size: 18px;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #000;
}

.header_address {
    justify-self: end;
    font-style: normal;
    font-size: 18px;
}

.header_address a {
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #000;
}



.cover {
    position: relative;
    padding: 165px 50px 50px;
}

.cover_overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.cover_image {
    width: 100%;
    height: 100%;
}

.cover_title {
    position: relative;
    z-index: 2;
    color: white;
    font-size: 100px;
}

.aligned-text {
    font-weight: bold;
    display: block;
}

.aligned-text_center {
    font-weight: bold;
    text-align: center;
}

.aligned-text_right {
    font-weight: bold;
    text-align: right;
}

.cover_description {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 107px;
    margin: 106px 50px 0 50px;
}

.cover_description-text {
    color: white;
    font-size: 22px;
    word-spacing: 18px;
    text-transform: uppercase;
}



.bet-button {
    border: 1px solid white;
    background: transparent;
    color: white;
    padding: 12px 32px;
    font-size: 22px;
    text-transform: uppercase;
    cursor: pointer;
}

.lots {
    padding: 180px 50px;
    max-width: 1340px;
    margin: 0 auto;
}

.lots_heading {
    font-weight: bold;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 27px;
    padding-left: 40px;
}

.lots_card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
    margin: 0 0 30px 0;
    padding: 0;
}

.lots_card-list-item {
    flex: 1;
    min-width: 350px;
    min-height: 450px;
}

.card_title {
    position: relative;
    z-index: 2;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: underline;
    text-transform: uppercase;
    margin: 0;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.card {
    position: relative;
    height: 100%;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card_img {
    height: 100%;
    width: 100%;
    filter: brightness(60%);
}

.card .card_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.card_text {
    position: relative;
    z-index: 2;
    font-size: 20px;
    line-height: 1.2;
    margin: 0;
}

.lots_look-more-link {
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid #000000;
    padding-bottom: 1px;
    margin: 30px 0 0 40px;
    display: inline-block;
    transition: opacity 0.3s ease;
}

.about {
    display: grid;
    grid-template-columns: 430px 1fr;
    gap: 25px;
    padding: 180px 50px;
}

.about_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    background: black;
    border-radius: 50%;
    margin: 0 auto;
}

.about_title {
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 100px;
}

.about_text {
    margin-top: 100px;
}

    .about_text p:first-child {
        margin-bottom: 25px;
    }

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    padding: 180px 50px 90px;
    max-width: 1340px;
    margin: 0 auto;
    gap: 40px;
}

.footer_address {
    font-style: normal;
    font-size: 18px;
}

    .footer_address a {
        text-decoration: none;
        color: #000;
        border-bottom: 1px solid #000;
    }

.footer_menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer_menu-link {
    font-size: 18px;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #000;
}

.footer_social-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 48px;
    justify-self: end;
}
