/* HEADER */

.header {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 18px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    min-height: 293px;
}

.header_menu {
    justify-self: start;
}

.header_links-list {
    display: flex;
    gap: 32px;
    list-style: circle;
}

.header_links-list li:first-child {
    list-style: none;
}

.header_list-link {
    text-decoration: none;
    border-bottom: 1px solid #000;
}

.header_links-list li:first-child .header_list-link {
    border-bottom: none;
}

.header_logo-image {
    width: 148px;
    height: 105px;
}

.header_address {
    justify-self: end;
    font-style: normal;
    line-height: 24.3px;
}

.header_address a {
    text-decoration: none;
    border-bottom: 1px solid #000;
}

/* COVER */

.cover {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    position: relative;
    padding: 165px 50px 50px;
    min-height: 757px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 180px;
}

.cover_overlay {
    position: absolute;
    inset: 0;
    background: black;
    z-index: 1;
}

.cover_image {
    width: 100%;
    height: 757px;
    object-fit: cover;
    opacity: 0.4;
}

.cover_title {
    font-size: 100px;
    font-weight: bold;
    letter-spacing: 0.3em;
    padding-bottom: 106px;
    position: relative;
    z-index: 2;
    color: white;
}

.aligned-text {
    display: block;
    margin-bottom: 20px;
}

.aligned-text_center {
    text-align: center;
/*    margin-left: 60px; */
}

.aligned-text_right {
    text-align: right;
/*    margin-right: 30px; */
    margin-bottom: 0;
}

.cover_description {
    font-size: 22px;
    color: white;
    text-transform: uppercase;
    text-align: justify;
    z-index: 2;
    display: flex;
    justify-content: end;
    align-items: center;
}

.cover_description-text {
    padding-right: 107px;
}

.bet-button {
    color: white;
    text-transform: uppercase;
    border: 1px solid white;
    background: transparent;
    padding: 12px 32px 11px 31px;
    cursor: pointer;
}   

/* LOTS */

.lots {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    margin-bottom: 120px;
}

.lots_heading {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 27px;
    padding-left: 40px;
}

.lots_card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
    margin-bottom: 30px;
}

.lots_card-list-item {
    flex: 1;
    min-width: 334px;
}

.card-link {
    text-decoration: none;
}

.card {
    position: relative;
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    background-repeat: no-repeat;
    min-height: 596px;
}

.card_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    z-index: 1;
}

.card_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 40%;
}

.card_title {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.2;
    text-decoration: underline;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}

.card_text {
    font-size: 20px;
    line-height: 1.2;
    position: relative;
    z-index: 2;
}

.lots_look-more-link {
    font-size: 20px;
    text-decoration: none;
    border-bottom: 1px solid #000000;
    margin: 30px 0 0 40px;
}

/* ABOUT */

.about {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    display: grid;
    grid-template-columns: 430px 1fr;
    align-items: start;
    margin-bottom: 180px;
}

.about_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    background: black;
    border-radius: 50%;
    margin: 0 auto;
}

.about_logo-image {
    width: 148px;
    height: 114px;
}

.about_title {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 100px 0 100px 0;
}

.about_text {
    font-size: 20px;
    line-height: 24px;
}

.about_text p:not(:last-child) {
    margin-bottom: 30px;
}

/* Footer */

.footer {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 50px 82px 50px;
}

.footer_address {
    font-style: normal;
    font-size: 18px;
    line-height: 24.3px;
}

.footer_address a {
    text-decoration: none;
}

.footer_menu-list {
    list-style: none;
    text-align: center;
}

.footer_menu-link {
    font-size: 18px;
    text-decoration: none;
    border-bottom: 1px solid #000;
}

.footer_menu-link_no-underline {
    border-bottom: none;
}

.footer_social-list {
    list-style: none;
    display: flex;
    gap: 55px;
}