.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px;
}

.header_menu {
    justify-self: start;
}

.header_links-list {
    display: flex;
    gap: 32px;
    list-style: circle;
}

.header_links-list li:first-child {
    list-style: none;
}

.header_list-link {
    font-size: 18px;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #000;
}

.header_links-list li:first-child .header_list-link {
    border-bottom: none;
}

.header_logo-image {
    width: 148px;
    height: 105px;
}

.header_address {
    justify-self: end;
    font-style: normal;
    font-size: 18px;
    line-height: 1.35;
}

.header_address a {
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #000;
}



.cover {
    position: relative;
    padding: 0 50px 50px; /* отступ от нижней границы блока 50px */
    min-height: 757px; /* высота overlay 757px */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* распределяем блоки по вертикали */
}

.cover_overlay {
    position: absolute;
    inset: 0;
    background: black;
    z-index: 1;
}

.cover_image {
    width: 100%;
    height: 757px;
    object-fit: cover;
    opacity: 0.4;
}

.cover_title {
    position: relative;
    z-index: 2;
    color: white;
    font-size: 100px;
    font-weight: 700;
}

.aligned-text {
    display: block;
    letter-spacing: 0.3em;
}

.aligned-text:not(:last-child) {
    margin-bottom: 20px;
}

.aligned-text_center {
    text-align: center;
    margin-left: 60px;
}

.aligned-text_right {
    text-align: right;
    margin-right: 30px;
}

.cover_description {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 78px;
    margin: 0 50px;
}

.cover_description-text {
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 0;
    word-spacing: normal;
}

.bet-button {
    border: 1px solid white;
    background: transparent;
    color: white;
    padding: 12px 32px;
    font-size: 22px;
    text-transform: uppercase;
    cursor: pointer;
}





.lots {
    padding: 180px 24px;
}

.lots_heading {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 27px;
    padding-left: 40px;
}

.lots_card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
    margin: 0 0 30px 0;
    padding: 0;
}

.lots_card-list-item {
    flex: 1;
    min-width: 334px;
    min-height: 596px;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.card {
    position: relative;
    height: 100%;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 596px;
}

.card_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    z-index: 1;
}

.card_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 40%;
}

.card_title {
    position: relative;
    z-index: 2;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: underline;
    text-transform: uppercase;
    margin: 0 0 20px 0;
    letter-spacing: normal;
}

.card_text {
    position: relative;
    z-index: 2;
    font-size: 20px;
    line-height: 1.2;
    margin: 0;
    letter-spacing: normal;
}

.lots_look-more-link {
    font-size: 20px;
    text-decoration: none;
    border-bottom: 1px solid #000000;
    margin: 30px 0 0 40px;
}

/* About section */
.about {
    display: grid;
    grid-template-columns: 430px 1fr;
    gap: 72px;
    padding: 120px 50px;
    align-items: start;
}

.about_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    background: black;
    border-radius: 50%;
    margin: 0 auto;
}

.about_logo-image {
    width: 148px;
    height: 114px;
}

.about_title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 100px 0 100px 0;
}

.about_text {
    font-size: 18px;
    line-height: 1.35;
}

.about_text p:not(:last-child) {
    margin-bottom: 25px;
}

/* Footer */
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    padding: 180px 50px 90px;
    gap: 40px;
}

.footer_address {
    font-style: normal;
    font-size: 18px;
    line-height: 1.35;
}

.footer_address a {
    text-decoration: none;
}

.footer_menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer_menu-link {
    font-size: 18px;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #000;
}

.footer_menu-link_no-underline {
    border-bottom: none;
}

.footer_social-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 48px;
    justify-self: end;
}

.footer_social-link {
    display: block;
}

.footer_social-icon {
    width: 48px;
    height: 48px;
}